.wrapper {
    text-align: center;
    color: var(--white-color);
    padding: 2rem 4rem;
    border-radius: 2rem;
    background-color: var(--main-color);
    cursor: pointer;


    .image { 
        display: flex;
        justify-content: center;
        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            border: 5px solid var(--border-color);
            border-radius: 50%;
            
        }
    }

    .name {
        margin-block: 1rem;
    }

    .desc {
        color: var(--text-color);

    }
}