@import '../../sass/mixins';

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: 1fr;
    }
}