@mixin boxStyle($padding, $textAlign : center, $textColor) {
    text-align: $textAlign;
    color: $textColor;
    background-color: var(--main-color);
    border-radius: 2rem;
    padding:$padding;
    border: 1px solid transparent;
    transition: var(--transition-500);

    &:hover {
        background-color: transparent;
        border-color: var(--border-color);
        border-bottom-color: var(--blue-color);
    }
}


@mixin mobile {
    @media  (max-width: 739px) {
        @content;
    }
}

@mixin tablet {
    @media  (min-width: 740px) and (max-width: 1023px) {
        @content;
    }
}

@mixin mobile-tablet {
    @media  (max-width: 1023px) {
        @content;
    }
}

@mixin pc {
    @media  (min-width: 1024px) {
        @content;
    }
}

