@import '../../sass/mixins';

.wrapper {
    display: flex;
    padding: 1rem 3rem;
    border-radius: 88px;
    background-color: rgba(0, 0, 0, .3);
    color: var(--white-color);
    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80vw;
    z-index: 10;

    
    .icon {
        display: block;
        padding: 1rem;
        border-radius: 50%;
        line-height: 1;
        
        + .icon {
            margin-left: 3rem;
        }
        
        &.active {
            background-color: rgba(0, 0, 0, .7);
        }
        @include mobile {
         + .icon {
            margin-left: 1rem;
         }   
        }
    }

}